@model Newco.EmployeeDirectory.Web.Models.Home.SearchResultsModel

@if (Model.Results.Count == 0)
{
    <br/>
    <p>No results found</p>
}
else
{
    <br/>
        <table class="table table-hover table-sm search-table" id="SearchResultsTable">
            @foreach (var e in Model.Results)
            {
                var imageFilename = e.Id + ".jpg";
                <tr>
                    <td>
                        <a href="#" data-id="@e.Id" class="employeeLink"><img class="card-img-top employee-table img-fluid img-thumbnail" src="/img/@imageFilename" alt="@e.Id"></a>
                    </td>
                    <td>
                        <h6>@e.FirstName @e.LastName</h6>
                        @e.PhoneNumber<br />
                        @e.Country
                    </td>
                </tr>
            }
        </table>
    <br/>
        
}
